Projet/src/Parser/tests/bundle1/dtd.dtd

<!ELEMENT auteur (prenom, nom)>
<!ELEMENT prenom (#PCDATA)>
<!ELEMENT chapitre (titre*, (p | section)+)>
<!ELEMENT section (titre?, p+)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT p (#PCDATA)>
<!ELEMENT rapport (titre,auteur+,resume,chapitre+)>
<!ELEMENT resume (#PCDATA)>
<!ELEMENT titre (#PCDATA|p|titre)*>

<!ATTLIST chapitre
        titre CDATA #IMPLIED
        a CDATA #IMPLIED
        b CDATA #IMPLIED
        c CDATA #IMPLIED
>
<!ATTLIST section
        titre CDATA #IMPLIED
>
